$primary: #6e4be3;
$dark_primary_1: #5b3eb9;
$dark_primary_2: #534091;
$dark_primary_3: #413273;
$bold_text: #18243a;
$text: #43536a;
@import "../node_modules/bootstrap/";

body,
html {
  font-family: "Inter", sans-serif;
}

.App {
  height: 100%;
  background: linear-gradient(
    180deg,
    $dark_primary_1,
    $dark_primary_3 60vh,
    #ffffff 40vh
  );
}

.container-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-side {
  padding-left: 4rem;
  padding-right: 4rem;
}

.container-side-sm {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-side-md {
  padding-left: 8rem;
  padding-right: 8rem;
}

.container-side-lg {
  padding-left: 10rem;
  padding-right: 10rem;
}

@media only screen and (max-width: 980px) {
  .container-side-lg {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .container-side {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 450px) {
  .container-side-lg {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-side {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.spacer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.spacer-md {
  padding: 1.5rem 0rem;
}

.spacer-sm {
  padding: 0.5rem 0rem;
}

img.logo {
  max-width: 10%;
  filter: brightness(0.5) invert(1);
}
